.App {
  text-align: center;
}

.AppHeader {
  background-color: #f0f0f0;
}

.headerPanel {
  height: 50px;
  width: 100%;
  border-bottom: solid black 2px;
}

.header-logo-div {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-div p {
  font-weight: 100;
}

.header-logo-div p:hover {
  font-weight: 500;
  cursor: pointer;
  animation-name: nameFrame;
  animation-duration: 2s;
  background-color: yellow;
}

@keyframes nameFrame {
  from {background-color: #f0f0f0; font-weight: 100;}
  to {background-color: yellow; font-weight: 500;}
}

@keyframes bodyAnimation {
  from {background-color: #f0f0f0; font-weight: 100;}
  to {background-color: yellow; font-weight: 500;}
}

.body-about-div {
  width: 92%;
  height: 68vh;
  margin-right: 4%;
  margin-left: 4%;
  border-bottom: solid;
  text-align: left;
  padding-top: 7%;
  padding-bottom: 5%;
}

.body-about-div::-webkit-scrollbar {
  animation-name: nameFrame;
  animation-duration: 2s;
}


.body-about-div p {
  font-size: 18vh;
  font-weight: 500;
  margin: 0;
  max-width: fit-content;
}

.mouse-div {
  width: 3px;
  height: 200px;
  margin-top: 150px;
  background-color: red;
}

.body-about-div-child {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 30%;
}

.skills-section {
  width: 100%;
  height: 110vh;
}

.skills-section-header {
  width: 96%;
  margin-left: 4%;
  justify-content: left;
  display: flex;
}

.skills-section-header p {
  font-size: 9vh;
  font-weight: 500;
  margin: 3% 0 0 0;
}

.skills-section-innerdiv {
  width: 86%;
  height: 76vh;
  margin-right: 4%;
  margin-left: 4%;
  border-bottom: solid;
  margin-top: 2%;
  margin-bottom: 0;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.languages-sub-section {
  height: 33.33%;
  width: 90%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.language-icon-java {
  background-color: black;
}

.language-icon-python {
  background-color: black;
}

.language-icon-js {
  background-color: black;
}

.language-icon-cpp {
  background-color: black;
}

.language-icon-c {
  background-color: black;
}

.info-section-div {
  
  width: 92%;
  height: 90vh;
  border-bottom: solid 2px;
  border-top: solid 2px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

.info-section-div li {
  font-size: 120%;
  font-weight: 500;
  display: -webkit-box;
  width: 100%;
  height: fit-content;
}

.info-inner-div {
  width: 50%;
  height: 86%;
  border-right: 2px solid;
}

.info-inner-div-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
}

.info-inner-div1 {
  width: 50%;
  height: 86%;
  display: flex;
  justify-content: center;
}

.my-image {
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
  transition: height 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.my-image:hover {
  cursor: pointer;
  border-radius: 40px;
  height: 70%;
}

@keyframes photoAnimation {
  from {
    border-radius: 0;
    height: 60%;
  }
  to {
    border-radius: 40px;
    height: 70%;
  }
}
