.App {
  text-align: center;
}

.AppHeader {
  background-color: #f0f0f0;
}

.headerPanel {
  height: 50px;
  width: 100%;
  border-bottom: solid black 2px;
}

.header-logo-div {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-div p {
  font-weight: 100;
}

.header-logo-div p:hover {
  font-weight: 500;
  cursor: pointer;
  animation-name: nameFrame;
  animation-duration: 2s;
  background-color: yellow;
}

@keyframes nameFrame {
  from {background-color: #f0f0f0; font-weight: 100;}
  to {background-color: yellow; font-weight: 500;}
}

.body-about-div {
  width: 92%;
  height: 60vh;
  margin-right: 4%;
  margin-left: 4%;
  border-bottom: solid;
  text-align: left;
  padding-top: 10%;
}

.body-about-div p {
  font-size: 18vh;
  font-weight: 500;
  margin: 0;
}

.mouse-div {
  width: 3px;
  height: 200px;
  margin-top: 150px;
  background-color: red;
}

.body-about-div-child {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 30%;
}